---
import { Image } from '@astrojs/image/components'

import { data } from '../config'
import profilePic from '../images/profile-pic.jpg'
import { typography } from '../utils/typography'
---

<p
  style={{
    marginBottom: typography.rhythm(2.5),
  }}>
  <Image
    src={profilePic}
    height={112}
    width={112}
    aspectRatio="1:1"
    quality={70}
    alt={data.author}
    style={{
      float: 'left',
      marginRight: typography.rhythm(1 / 4),
      marginBottom: 0,
      width: typography.rhythm(2),
      height: typography.rhythm(2),
      borderRadius: '50%',
    }}
  />
  Written by <strong>{data.author}</strong>.
  {' '}
  <a href={`https://twitter.com/${data.twitterHandle}`}
    >@{data.twitterHandle}
  </a>
  {' | '}
  <a href={`https://www.linkedin.com/in/${data.twitterHandle}/`}>LinkedIn</a>
  {' | '}
  <a href={`https://github.com/${data.twitterHandle}`}>Github</a>
</p>
