---
import { format } from '../utils/date'
import { styleToString } from '../utils/styleToString'
import { typography } from '../utils/typography'

export interface Props {
  title: string
  description: string
  pubDate: string
  path: string
}

const { title, description, pubDate, path } = Astro.props

const trailingSlash = (path: string) => (path.endsWith('/') ? path : `${path}/`)
---

<li
  class="BlogCard"
  style={styleToString({
    marginBottom: typography.rhythm(1 + 1 / 2),
  })}>
  <time class="BlogCard__date" datetime={pubDate}>{format(pubDate)}</time>
  <h3
    class="BlogCard__headline"
    style={styleToString({
      marginBottom: typography.rhythm(1 / 6),
    })}>
    <a
      rel="prefetch"
      class="BlogCard__link"
      style={styleToString({ boxShadow: 'none' })}
      href={trailingSlash(path)}>
      <span class="BlogCard__title">{title}</span>
    </a>
  </h3>
  {description && <p class="BlogCard__description">{description}</p>}
</li>
<style>
  .BlogCard {
    position: relative;
  }
  .BlogCard__headline {
    font-size: 1.2em;
    line-height: 28px;
    margin-top: 0;
  }
  .BlogCard__date {
    position: absolute;
    left: -1.75rem;
    color: #c6c8ca;
    font-style: italic;
    font-size: 0.6em;
    line-height: 28px;
    margin-bottom: 0;
    transform: translateX(-100%);
  }
  @media (max-width: 889px) {
    .BlogCard__date {
      position: static;
      left: auto;
      font-size: 0.6em;
      line-height: 1.2em;
      transform: translateX(0);
    }
  }
  .BlogCard__description {
    margin-bottom: 0;
  }
</style>
